
<form name="editForm" role="form" novalidate ng-submit="vm.save()"   class="form-validation">

    <div class="modal-header">
        <button type="button" class="btn btn-link pull-right" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()"><i class="fa fa-remove"></i>  </button>
        <h3 class="modal-title" id="myCaisseEncaissementLabel" >Create a Bursement</h3>
         <small class="text-muted" >Fields with * are required</small>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="row">
              <div class="col-sm-6">
 <div class="form-group">
 <label class="control-label"  for="field_id">Id</label>
  <input  class="form-control"   type="text"  autocomplete="off"   id="field_id" ng-model="vm.caisseEncaissement.id"                     ng-readonly="true"  ng-required="false"    ng-maxlength="255"                      />
 </div>
 </div>
 <div class="col-sm-6">
 <div class="form-group">
 <label class="control-label"  for="field_caisse">Register <span style="color:red" >*</span></label>
 <div class="input-group">
                        <ui-select ng-model="vm.caisseEncaissement.caisse"    ng-required="true">
                            <ui-select-match placeholder="Select Caisse">{{$select.selected.id}}</ui-select-match>
                            <ui-select-choices repeat="caisse in vm.caisses | filter: $select.search">
                                <div ng-bind-html="caisse.id | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>  
                        <span class="input-group-btn" >
                            <button   ng-click="vm.zoomColumn('Caisse','caisse','caisse', vm.caisseEncaissement.caisse)" 
                                      class="btn btn-default" type="button"  ng-hide="!vm.caisseEncaissement.caisse">
                                <span class="fa fa-eye"></span>
                            </button>
                            <button ng-click="vm.zoomColumn('Caisse', 'caisse','caisse', {})"      
                                    class="btn btn-default" type="button"  ng-hide="vm.caisseEncaissement.caisse">
                                <span class="fa fa-plus fw"></span>
                            </button>
                        </span>
                    </div> </div>
 </div>
 <div class="col-sm-6">
 <div class="form-group">
 <label class="control-label"  for="field_dateVersement">Operation Date <span style="color:red" >*</span></label>
  <div class="input-group">
                    <input  id="field_dateVersement" type="text" class="form-control" name="dateVersement"    ng-required="true"  uib-datepicker-popup="{{dateformat}}"  ng-model="vm.caisseEncaissement.dateVersement"  is-open="vm.datePickerOpenStatus.dateVersement"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dateVersement')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
 </div>
 </div>
 <div class="col-sm-6">
 <div class="form-group">
 <label class="control-label"  for="field_montant">Amount <span style="color:red" >*</span></label>
  <input  class="form-control"   type="number"  autocomplete="off"  id="field_montant" ng-model="vm.caisseEncaissement.montant"                     ng-readonly="false"  ng-required="true"                     />
 </div>
 </div>
 <div class="col-sm-6">
 <div class="form-group">
 <label class="control-label"  for="field_modePaiement">Collection Method <span style="color:red" >*</span></label>
 <select class="form-control" name="modePaiement"  ng-model="vm.caisseEncaissement.modePaiement"  id="field_modePaiement" required>
<option value="ESPECES">CASH</option>
<option value="CHEQUE">CHEQUE</option>
<option value="CARTE_BANCAIRE">CARD</option>
<option value="VIREMENT">TRANSFERY</option>
<option value="PRELEVEMENT">TAKING</option>
     <option value="OM">OM</option>
     <option value="MOMO">MOMO</option>
     <option value="AUTRES">OTHER</option>
 </select>
 </div>
 </div>
 <div class="col-sm-6">
 <div class="form-group">
 <label class="control-label"  for="field_motif">Reason <span style="color:red" >*</span></label>
 <select class="form-control" name="motif"  ng-model="vm.caisseEncaissement.motif"  id="field_motif" required>
     <option value="PENSION">PENSION</option>
     <option value="INSCRIPTION">INSCRIPTION</option>
     <option value="DON">DONATION</option>
     <option value="PARENTS">PARENTS</option>
     <option value="SALAIRES">SALARIES</option>
     <option value="FACTURES">BILLS</option>
     <option value="TRANSFERT">TRANSFERT</option>
     <option value="PRELEVEMENT">TAKING</option>
     <option value="AUTRES">OTHER</option>
     <option value="ECOLAGE">TRAINER</option>
            </select>
 </div>
 </div>
 <div class="col-sm-6">
 <div class="form-group">
 <label class="control-label"  for="field_commentaires">Comment</label>
   <textarea class="form-control" rows="3"  cols="30"   id="field_commentaires" ng-model="vm.caisseEncaissement.commentaires"                     ng-readonly="false"  ng-required="false"                     > </textarea>
 </div>
 </div>

        </div>
       
    </div>
    <div class="modal-footer">
        
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
