<div class="bg-light lter b-b wrapper-md" >
    <h1 class="m-n font-thin h3">Cours</h1>
    <small class="text-muted">{{'search.legend'| translate }}</small>
</div>

<div class="wrapper-md"  ng-controller="CoursList">

    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-lg-4"> 
                    <ui-select ng-model="item.prof" theme="bootstrap" ng-change="getcours()"  >
                        <ui-select-match placeholder="Professeur...">{{$select.selected.nom_prenom}}</ui-select-match>
                        <ui-select-choices repeat="item in profs | filter: $select.search">
                            <div ng-bind-html="item.nom_prenom | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
        </div>
        <div class="panel-body table-responsive">
            <table class="table table-striped table-bordered table-hover" id="dataTables-example" width="100%"  
                   st-safe-src="listsObjects"  st-table="displayedCollection">
                <thead>
                <th >Classe</th>
                <th >Durée en heures </th>
                </thead>
                <tbody>
                    <tr   ng-repeat="c in displayedCollection">

                        <td>{{c.libelle}} </td>
                        <td >
                            <div class="form-group">
                                <ng-form name="subform">
                                    <input class="form-control"   type="number"   autocomplete="off"
                                           required="true" 
                                           min="0"  max="6"   ng-model="c.duree_heures"/>
                                </ng-form>
                            </div>
                        </td> 
                    </tr> 

                </tbody>
                <tfoot>
                        <tr>
                            <td   class="text-center">
                                <div st-pagination="" st-items-by-page="7"  class="no-margin"></div>
                            </td>
                        </tr>
                    </tfoot>
            </table>
        </div>
        <div class="panel-footer"   ng-show="item.prof">
            <button type="submit" class="btn btn-primary  btn-block"   ng-disabled="form1.$invalid || form1.$pristine"   ><i class="fa fa-check-circle"></i>{{'form.save'| translate }}</button>
        </div>

    </div>

</div>


<script type="text/javascript" >

    app.controller("CoursList",
            function CoursList($scope, CrudService, toaster, ErrorService, $http) {
                $scope.profs = CrudService.query({categorie: 'Professeur'});
                $scope.errorService = ErrorService;
                $scope.item = {};
                $scope.listsObjects = {};


                $scope.getcours = function () {
                    $http.get('cours/' + $scope.item.prof.code)
                            .success(function (data) {
                                $scope.listsObjects = data;
                                $scope.form1.$setPristine();
                                $scope.errorService.clear();
                            });
                };


                $scope.save = function () {
                    $scope.errorService.setwaiting();
                    $http.post('cours/' + $scope.item.prof.code, $scope.listsObjects)
                            .success(function (data) {
                                toaster.pop("success", "Success", "Operation Effectuée avec Succès");
                                $scope.errorService.setSucces();
                            });

                };


            });

</script>
