<div class="bg-light lter b-b wrapper-md" >
    <h1 class="m-n font-thin h3">Encaissement</h1>
    <small class="text-muted">{{'search.legend'| translate }}</small>
</div>

<div class="wrapper-md"  ng-controller="EncaissementList">

    <div class="panel panel-default">
        <div class="panel-heading">
            <form class="form-inline">
                <label>Show</label>
                <select class="form-control" ng-model="itemsByPage">
                    <option value="5">5</option>
                    <option value="10">10</option>
                </select>
            </form>
        </div>
        <div class="panel-body table-responsive">
            <table class="table table-striped table-bordered table-hover"  st-safe-src="rowCollection"  st-table="displayedCollection">
                <thead>
                    <tr>
                        <th st-sort="date_paiement">Date paiement</th>
 <th st-sort="montant">Montant</th>
 <th st-sort="reference">Reference</th>
 <th st-sort="moyen_paiement">Moyen paiement</th>
 <th st-sort="caisse.libelle">Caisse</th>
 <th st-sort="solde">Solde</th>
 <th st-sort="solde_initial">Solde Caisse Initial</th>
 
                        <th> 
                            <button type="button" class="btn btn-primary" ng-click="add();"  
                                    tooltip="{{'form.add'| translate}}">
                                <i class="fa fa-plus"></i>  
                            </button>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in displayedCollection">
                        <td>{{row.date_paiement}}</td>
<td>{{row.montant}}</td>
<td>{{row.reference}}</td>
<td>{{row.moyen_paiement}}</td>
<td>{{row.caisse.libelle}}</td>
<td>{{row.solde}}</td>
<td>{{row.solde_initial}}</td>

                        <td>
                            <button type="button" ng-click="edit(row);" class="btn btn-sm btn-default"  tooltip="{{'form.edit'| translate}}">
                                <i class="fa fa-edit">
                                </i>
                            </button>

                            <button type="button" ng-click="delete(row);" class="btn btn-sm btn-danger"  tooltip="{{'form.delete'| translate}}">
                                <i class="fa fa-trash">
                                </i>
                            </button>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td   class="text-center">
                            <div st-pagination="" st-items-by-page="itemsByPage"  class="no-margin"></div>
                        </td>
                    </tr>
                </tfoot>
            </table>

        </div>

    </div>

</div>




<script type="text/javascript" >

    app.controller("EncaissementList",
            function EncaissementList($scope, CrudService, toaster, $modal, $log,DateUtils) {
            $scope.categorie = 'Encaissement';
            $scope.rowCollection = CrudService.query({categorie: $scope.categorie});
            //  pagination
            $scope.itemsByPage = 5;
            $scope.delete = function (row) {
                var r = confirm("Confirm ?");
                if (r == true) {
                CrudService.delete({categorie: $scope.categorie, id: row.code}, function (data) {
                    var index = $scope.rowCollection.indexOf(row);
                    if (index !== - 1) {
                    $scope.rowCollection.splice(index, 1);
                    }
                    toaster.pop("success", "Success", "Suppression Effectuée avec Succès");
                    }, function (error) {
                    toaster.pop("error", "Error", error);
                      });
                };
            };
            $scope.edit = function (row) {
            CrudService.get({categorie: $scope.categorie, id: row.code}, function (data) {
            $scope.tsoftitem = data;
            $scope.openForm('lg', $scope.tsoftitem, $scope.rowCollection.indexOf(row));
            });
            };
            $scope.add = function () {
            $scope.tsoftitem = {};
            $scope.openForm('lg', {}, - 1);
            };
            $scope.openForm = function (size, row, rowindex) {
            var modalInstance = $modal.open({
            templateUrl: 'tpl/form.html',
                    controller: $scope.categorie + 'Form',
                    size: size,
                    resolve: {
                    row: function () {
                    return row;
                    },
                    formmodel: function($stateParams, $http) {
                    var datas = $http.get($scope.categorie + '/formmodel/').
                            success(function(data, status, headers, config) {
                            return data;
                            });
                    return datas;
                    },
                    deps: ['$ocLazyLoad',
                    function($ocLazyLoad) {
                        return $ocLazyLoad.load(['ui.select']);
                    }]

                    }
            });
            modalInstance.result.then(function (item) {
            if (rowindex === - 1) {
            $scope.rowCollection.push(item);
            } else {
            $scope.rowCollection.splice(rowindex, 1, item);
            }
            $log.info('Modal closed at: ' + new Date());
            }, function () {
            $log.info('Modal dismissed at: ' + new Date());
            });
            };
            });
            app.controller("EncaissementForm",
                    function EncaissementForm($timeout,$scope, $modalInstance, $http, toaster, ErrorService, CrudService, row, formmodel, DateUtils,DataUtils) {
                    $scope.categorie = 'Encaissement';
                    $scope.errorService = ErrorService;
                    $scope.errorService.clear();
                    $scope.tsoftitem = row;
                    $scope.formmodel = formmodel.data;
                    $scope.selects = [];
                    $scope.datePickerOpenStatus = {};
                    $scope.byteSize = DataUtils.byteSize;
                    $scope.openFile = DataUtils.openFile;
                    
                    $timeout(function (){
                         angular.element('.form-group:eq(1)>input').focus();
                          angular.forEach($scope.formmodel.datecolumns, function(value, key) {
                          $scope.tsoftitem[value.name] = DateUtils.convertLocalDateFromServer($scope.tsoftitem[value.name]); ;
                          });
                    });
                    
                    $scope.save = function () {
                            $scope.errorService.setwaiting();
                            angular.forEach($scope.formmodel.datecolumns, function(value, key) {
                            $scope.tsoftitem[value.name] = DateUtils.convertLocalDateToServer($scope.tsoftitem[value.name]); ;
                            });
                            CrudService.save({categorie: $scope.categorie}, $scope.tsoftitem,
                                    function (data) {
                                    toaster.pop("success", "Success", "Operation Effectuée avec Succès");
                                    $scope.errorService.setSucces();
                                    $modalInstance.close(data);
                                    });
                    };
                    
                 $scope.openCalendar = function ($event, date) {
                    $event.preventDefault();
                    $event.stopPropagation();
                    $scope.datePickerOpenStatus[date] = true;
                };
                     $scope.dateOptions = {
                      formatYear: 'yy',
                      startingDay: 1,
                      class: 'datepicker'
                     };
                    
                    $scope.closemodal = function () {
                         $modalInstance.dismiss('cancel');
                    };
                    

                    
                    $scope.setMimage = function ($file, fieldName) {
                       if ($file && $file.$error === 'pattern') {
                           return;
                       }
                       if ($file) {
                           DataUtils.toBase64($file, function(base64Data) {
                               $scope.$apply(function() {
                                   $scope.tsoftitem[fieldName] = base64Data;
                                   $scope.tsoftitem[fieldName+'ContentType'] = $file.type;
                               });
                           });
                       }
                    };
                    
                    });
</script>
