<div class="bg-light lter b-b wrapper-md" >
    <h1 class="m-n font-thin h3">Professeur</h1>
    <small class="text-muted">{{'search.legend'| translate }}</small>
</div>

<div class="wrapper-md"  ng-controller="ProfesseurList">

    <div class="panel panel-default">
        <div class="panel-heading">
            <form class="form-inline">
                <label>Show</label>
                <select class="form-control" ng-model="itemsByPage">
                    <option value="5">5</option>
                    <option value="10">10</option>
                </select>
            </form>
        </div>
        <div class="panel-body table-responsive">
            <table class="table table-striped table-bordered table-hover"  st-safe-src="rowCollection"  st-table="displayedCollection">
                <thead>
                    <tr>
                        <th st-sort="nomprenom">Nom Et Prénom</th>
 <th st-sort="matricule">Matricule</th>
 <th st-sort="date_recrutement">Date recrutement</th>
 <th st-sort="diplome">Diplome</th>
 <th st-sort="vacataire">Vacataire</th>
 <th st-sort="matiere.libelle">Matiere</th>
 <th st-sort="quota_horaire_hebdomadaire">Quota horaire hebdomadaire</th>
 <th st-sort="civilite">Civilite</th>
 <th st-sort="date_naissance">Né(e) le</th>
 <th st-sort="lieu_naissance">Lieu naissance</th>
 <th st-sort="numero_cni">Numero cni</th>
 <th st-sort="date_delivrance_cni">Date delivrance cni</th>
 <th st-sort="lieu_delivrance_cni">Lieu delivrance cni</th>
 <th st-sort="email">Email</th>
 <th st-sort="telephone">Téléphone</th>
 <th st-sort="adresse">Adresse</th>
 
                        <th> 
                            <button type="button" class="btn btn-primary" ng-click="add();"  
                                    tooltip="{{'form.add'| translate}}">
                                <i class="fa fa-plus"></i>  
                            </button>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-if="displayedCollection.length == 0">
                        Aucune Donnée à afficher
                    </tr>
                    <tr ng-repeat="row in displayedCollection">
                        <td>{{row.nomprenom | date:'dd/MM/yyyy'}}</td>
<td>{{row.matricule}}</td>
<td>{{row.date_recrutement | date:'dd/MM/yyyy'}}</td>
<td>{{row.diplome | date:'dd/MM/yyyy'}}</td>
<td>{{row.vacataire | date:'dd/MM/yyyy'}}</td>
<td>{{row.matiere.libelle | date:'dd/MM/yyyy'}}</td>
<td>{{row.quota_horaire_hebdomadaire | date:'dd/MM/yyyy'}}</td>
<td>{{row.civilite | date:'dd/MM/yyyy'}}</td>
<td>{{row.date_naissance | date:'dd/MM/yyyy'}}</td>
<td>{{row.lieu_naissance | date:'dd/MM/yyyy'}}</td>
<td>{{row.numero_cni | date:'dd/MM/yyyy'}}</td>
<td>{{row.date_delivrance_cni | date:'dd/MM/yyyy'}}</td>
<td>{{row.lieu_delivrance_cni | date:'dd/MM/yyyy'}}</td>
<td>{{row.email | date:'dd/MM/yyyy'}}</td>
<td>{{row.telephone | date:'dd/MM/yyyy'}}</td>
<td>{{row.adresse | date:'dd/MM/yyyy'}}</td>

                        <td>
                            <button type="button" ng-click="edit(row);" class="btn btn-sm btn-default"  tooltip="{{'form.edit'| translate}}">
                                <i class="fa fa-edit">
                                </i>
                            </button>

                            <button type="button" ng-click="delete(row);" class="btn btn-sm btn-danger"  tooltip="{{'form.delete'| translate}}">
                                <i class="fa fa-trash">
                                </i>
                            </button>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td   class="text-center">
                            <div st-pagination="" st-items-by-page="itemsByPage"  class="no-margin"></div>
                        </td>
                    </tr>
                </tfoot>
            </table>

        </div>

    </div>

</div>




<script type="text/javascript" >

    app.controller("ProfesseurList",
            function ProfesseurList($timeout, $http, $scope, CrudService, toaster, $modal, $log, DateUtils) {
            $scope.categorie = 'Professeur';
            $scope.rowCollection = CrudService.query({categorie: $scope.categorie});
            //  pagination
            $scope.itemsByPage = 5;
            $scope.delete = function (row) {
            var r = confirm("Confirm ?");
            if (r == true) {
            CrudService.delete({categorie: $scope.categorie, id: row.code}, function (data) {
            var index = $scope.rowCollection.indexOf(row);
            if (index !== - 1) {
            $scope.rowCollection.splice(index, 1);
            }
            toaster.pop("success", "Success", "Suppression Effectuée avec Succès");
            }, function (error) {
            toaster.pop("error", "Error", error);
            });
            };
            };
            $scope.edit = function (row) {
            CrudService.get({categorie: $scope.categorie, id: row.code}, function (data) {
            $scope.tsoftitem = data;
            $scope.tsoftitem.date_recrutement = DateUtils.convertLocalDateFromServer($scope.tsoftitem.date_recrutement);
$scope.tsoftitem.date_naissance = DateUtils.convertLocalDateFromServer($scope.tsoftitem.date_naissance);
$scope.tsoftitem.date_delivrance_cni = DateUtils.convertLocalDateFromServer($scope.tsoftitem.date_delivrance_cni);

            $scope.openForm($scope.tsoftitem, $scope.rowCollection.indexOf(row));
            });
            };
            $scope.add = function () {
            $scope.tsoftitem = {};
            $scope.openForm($scope.tsoftitem, - 1);
            };
            
            $scope.openForm = function (row, rowindex) {
            var modalInstance = $modal.open({
            templateUrl: 'tpl/form.html',
                    controller:  'FormController',
                    size: 'lg',
                    resolve: {
                    row: function () {
                    return row;
                    },
                            formmodel: function($stateParams, $http) {
                            var datas = $http.get($scope.categorie + '/formmodel/').
                                    success(function(data, status, headers, config) {
                                    return data;
                                    });
                            return datas;
                            },
                            deps: ['$ocLazyLoad',
                                    function ($ocLazyLoad) {
                                    return $ocLazyLoad.load(['ui.select']);
                                    }]

                    }
            });
            modalInstance.result.then(function (item) {
            if (rowindex === - 1) {
            $scope.rowCollection.push(item);
            } else {
            $scope.rowCollection.splice(rowindex, 1, item);
            }
            $log.info('Modal closed at: ' + new Date());
            }, function () {
            $log.info('Modal dismissed at: ' + new Date());
            });
            };
            });
           
</script>
