
<form name="editForm" role="form" novalidate ng-submit="vm.save()"   class="form-validation">

    <div class="modal-header">
        <button type="button" class="btn btn-link pull-right" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()"><i class="fa fa-remove"></i>  </button>
        <h3 class="modal-title" id="myMatiereLabel" >Create or modify Matiere</h3>
         <small class="text-muted" >Fields with * are required</small>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="row">
              <div class="col-sm-6">
 <div class="form-group">
 <label class="control-label"  for="field_id">Id</label>
  <input  class="form-control"   type="text"  autocomplete="off"   id="field_id" ng-model="vm.matiere.id"                     ng-readonly="true"  ng-required="false"    ng-maxlength="255"                      />
 </div>
 </div>
 <div class="col-sm-6">
 <div class="form-group">
 <label class="control-label"  for="field_libelle">Libelle <span style="color:red" >*</span></label>
  <input  class="form-control"   type="text"  autocomplete="off"   id="field_libelle" ng-model="vm.matiere.libelle"                     ng-readonly="false"  ng-required="true"    ng-minlength="0"     ng-maxlength="100"                      />
 </div>
 </div>
 <div class="col-sm-6">
 <div class="form-group">
 <label class="control-label"  for="field_type">Type <span style="color:red" >*</span></label>
 <select class="form-control" name="type"  ng-model="vm.matiere.type"  id="field_type" required>
<option value="MATIERES_SCIENTIFIQUES">MATIERES_SCIENTIFIQUES</option>
<option value="MATIERES_LITTERAIRES">MATIERES_LITTERAIRES</option>
<option value="MATIERES_FORMATIONS_HUMAINES">MATIERES_FORMATIONS_HUMAINES</option>
            </select>
 </div>
 </div>
 <div class="col-sm-6">
 <div class="form-group">
 <label class="control-label"  for="field_nombreProfesseurs">Nombre Professeurs</label>
  <input  class="form-control"   type="number"  autocomplete="off"  id="field_nombreProfesseurs" ng-model="vm.matiere.nombreProfesseurs"                     ng-readonly="true"  ng-required="false"                     />
 </div>
 </div>

        </div>
       
    </div>
    <div class="modal-footer">
        
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
